# PREDICTION OF DESTITATION
By Ziqing Zhou,Qiu Chen

## Introduction
In this tutorial, we will cover the techniques and algorithm to use a content image and a style image to generate a stylized image.

The main idea of our project is to extract features from certain layers of VGG-19 to generate the target image. To get result of higher perceptual quality, we choose relu4_2 and relu5_2 to extract content while using relu1_1, relu2_1, relu3_1, relu4_1 and relu5_1 to extract texture from the style image. 

The cost function is defined over the output of content layers and style layers. Afterwards, we use Adam algorithm to optimize the network and use back-propagation to generate the target image.

Since the algorithm define the style of an image as texture, to get an amazing result, you may want to choose a style image with special textures such as Starry Night.

## Data File
[PREDICTION OF DESTITATION](http://www.dcjingsai.com/common/cmpt/%E6%B1%BD%E8%BD%A6%E7%9B%AE%E7%9A%84%E5%9C%B0%E6%99%BA%E8%83%BD%E9%A2%84%E6%B5%8B%E5%A4%A7%E8%B5%9B_%E8%B5%9B%E4%BD%93%E4%B8%8E%E6%95%B0%E6%8D%AE.html)

### Import

In [ ]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA
from math import radians, atan, tan, sin, acos, cos
import requests
import json
from shapely.geometry  import MultiPoint,Polygon
from  geopy.distance import great_circle
from geopy.geocoders  import Nominatim
from geopy.point  import Point
import geopandas as gpd
from sklearn.preprocessing  import StandardScaler,minmax_scale
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb

### EDA

since the competation offers us a few columns of data,so we just do some basic EDA to sense the content of the data

In [3]:
train_set = pd.read_csv('data/train_new.csv', encoding='utf8')
train_set.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,r_key,out_id,start_time,end_time,start_lat,start_lon,end_lat,end_lon
0,SDK-XJ_609994b4d50a8a07a64d41d1f70bbb05,2016061820000b,2018-01-20 10:13:43,2018-01-20 10:19:04,33.783415,111.603660,33.779811,111.605885
1,SDK-XJ_4c2f29d94c9478623711756e4ae34cc5,2016061820000b,2018-02-12 17:40:51,2018-02-12 17:58:13,34.810763,115.549264,34.814875,115.549374
2,SDK-XJ_3570183177536a575b9da67a86efcd62,2016061820000b,2018-02-13 14:52:24,2018-02-13 15:24:33,34.640284,115.539024,34.813136,115.559243
3,SDK-XJ_78d749a376e190685716a51a6704010b,2016061820000b,2018-02-13 17:23:08,2018-02-13 17:39:02,34.818280,115.542039,34.813141,115.559217
4,SDK-XJ_3b249941c27834f5e43d43a9114e4909,2016061820000b,2018-02-13 18:06:02,2018-02-13 19:02:51,34.813278,115.559260,34.786126,115.874361

In [4]:
train_set.shape

(1495814, 8)

In [5]:
df_train_data = pd.read_csv('data/d2/train_new.csv')
print(df_train_data.shape)
print(df_train_data.start_time.max())
df_train_data.head(1)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1495814, 8)
2018-08-01 00:49:30

,r_key,out_id,start_time,end_time,start_lat,start_lon,end_lat,end_lon
0,SDK-XJ_609994b4d50a8a07a64d41d1f70bbb05,2016061820000b,2018-01-20 10:13:43,2018-01-20 10:19:04,33.783415,111.60366,33.779811,111.605885

In [6]:
df_test_data = pd.read_csv('data/d2/test_new.csv')
print(df_test_data.shape)
print(df_test_data.start_time.min())
df_test_data.head(1)

(58097, 5)
2018-09-01 00:32:42

,r_key,out_id,start_time,start_lat,start_lon
0,f6fa6b2a1fa250b3_SDK-XJ_eed80f24f496fc9a59f49e...,358962079107966,2018-09-01 15:54:12,43.943356,125.377718

### the data is pretty sparse,we can't make a model for every specific car,so we concerntrate on the records that shows more than 10 times

In [8]:
test_most=pd.DataFrame(pd.value_counts(df_test_data.out_id)).reset_index().rename(columns={"out_id":"count","index":"out_id"})
test_most.head()

            out_id  count
0  861661609031151     24
1  861691704005451     24
2  861691703008261     24
3  891941604000461     24
4  868260020967122     24

In [11]:
test_most.count = test_most["count"].astype("float")
test_most_list = list(test_most[test_most.count>=10].out_id)

### concat the test data and train data

In [13]:
df_data = pd.concat([df_train_data,df_test_data],sort=True)
print(df_data.shape)
df_data.tail()

(1553911, 8)

,end_lat,end_lon,end_time,out_id,r_key,start_lat,start_lon,start_time
58092,NaN,NaN,NaN,895851711000830,ecd2b169462a8170_SDK-XJ_5f9fad90d15c6f26c61bef...,39.808821,116.496067,2018-10-23 11:02:22
58093,NaN,NaN,NaN,895851711001200,03901f27f8da8635_SDK-XJ_8bb742fb3c64cd11de4052...,31.017508,121.401338,2018-10-23 00:14:55
58094,NaN,NaN,NaN,895851711003404,baab481186d3c5b7_SDK-XJ_175e32c31c8975998cb8d8...,23.115605,113.413985,2018-10-23 08:18:49
58095,NaN,NaN,NaN,895851711004600,0d6bfa6c320ffcaf_SDK-XJ_ca4fac4dde952a9f9bd2a4...,22.807363,108.324269,2018-10-23 19:14:32
58096,NaN,NaN,NaN,911691581099171,331d3083d4546ae6_SDK-XJ_d0fd8c2f78cfae07cc4c4f...,36.878666,118.072888,2018-10-23 15:46:47

In [15]:
df_data.start_time = pd.to_datetime(df_data.start_time)
df_data.end_time = pd.to_datetime(df_data.end_time)
df_data.out_id = df_data.out_id.astype(str)
df_data

,end_lat,end_lon,end_time,out_id,r_key,start_lat,start_lon,start_time
0,33.779811,111.605885,2018-01-20 10:19:04,2016061820000b,SDK-XJ_609994b4d50a8a07a64d41d1f70bbb05,33.783415,111.603660,2018-01-20 10:13:43
1,34.814875,115.549374,2018-02-12 17:58:13,2016061820000b,SDK-XJ_4c2f29d94c9478623711756e4ae34cc5,34.810763,115.549264,2018-02-12 17:40:51
2,34.813136,115.559243,2018-02-13 15:24:33,2016061820000b,SDK-XJ_3570183177536a575b9da67a86efcd62,34.640284,115.539024,2018-02-13 14:52:24
3,34.813141,115.559217,2018-02-13 17:39:02,2016061820000b,SDK-XJ_78d749a376e190685716a51a6704010b,34.818280,115.542039,2018-02-13 17:23:08
4,34.786126,115.874361,2018-02-13 19:02:51,2016061820000b,SDK-XJ_3b249941c27834f5e43d43a9114e4909,34.813278,115.559260,2018-02-13 18:06:02
5,34.813162,115.559195,2018-02-13 21:58:38,2016061820000b,SDK-XJ_9fd451509b05ecc54e641878a13baea8,34.785990,115.874259,2018-02-13 20:58:36
6,34.641016,115.536066,2018-02-14 09:22:47,2016061820000b,SDK-XJ_ca29f7fd306c47a407e4ab5aed21e7fb,34.812824,115.559272,2018-02-14 08:54:02
7,35.822282,116.367214,2018-02-16 16:19:27,2016061820000b,SDK-XJ_651f34259082f6b78f675357bf0200d1,34.803362,115.839409,2018-02-16 14:33:23
8,36.845625,117.209663,2018-02-16 18:34:56,2016061820000b,SDK-XJ_4566f3f45f4df155319c66de13d59936,35.822863,116.367453,2018-02-16 16:33:56
9,34.786001,115.874430,2018-02-17 17:12:11,2016061820000b,SDK-XJ_349990ffb6274fbf07dbe869762cf8ea,36.204509,116.459742,2018-02-17 14:41:30
10,34.812996,115.559230,2018-02-17 21:16:15,2016061820000b,SDK-XJ_e46d139870dbad549b3ec5bbc9a27498,34.817747,115.741368,2018-02-17 20:48:19
11,34.799399,115.906429,2018-02-19 11:52:58,2016061820000b,SDK-XJ_7a26b5d09e8a18097e6c31372f6d37cf,34.812103,115.561866,2018-02-19 10:46:04
12,35.621820,111.384703,2018-02-19 19:48:37,2016061820000b,SDK-XJ_a501de58288bf86dffe1e4e604cacb4f,35.514316,111.326468,2018-02-19 19:21:44
13,35.533458,111.345910,2018-02-20 19:03:41,2016061820000b,SDK-XJ_51e6976e8243c404d862c202fb7e81b1,35.532994,111.346037,2018-02-20 18:53:04
14,35.533250,111.345940,2018-02-21 18:49:46,2016061820000b,SDK-XJ_c8fff2a5bfa81bdf48a4225eab13b77b,35.533424,111.346057,2018-02-21 18:32:12
15,35.533435,111.345904,2018-02-22 12:05:59,2016061820000b,SDK-XJ_9ec264eaab1e516757243cd5eee913c0,35.512279,111.330757,2018-02-22 11:46:17
16,34.813235,115.559218,2018-02-22 12:09:22,2016061820000b,SDK-XJ_125adc4151bd23e98b91237316392bfb,34.640028,115.545866,2018-02-22 11:43:06
17,35.533293,111.345881,2018-02-22 16:03:38,2016061820000b,SDK-XJ_199e2214d3fd59d9059aee2875f6d50b,35.533492,111.345892,2018-02-22 15:32:44
18,34.813223,115.559226,2018-02-22 18:30:15,2016061820000b,SDK-XJ_bdcfed11ecbadd1e9226f0b8e88b9aca,34.855628,115.560680,2018-02-22 17:55:40
19,34.823667,115.541727,2018-02-23 14:59:27,2016061820000b,SDK-XJ_bd01cb89f3ab256865f497f3ad8d6c3d,34.818474,115.554576,2018-02-23 14:40:43
20,34.829787,115.567187,2018-02-23 17:49:17,2016061820000b,SDK-XJ_0180b7544f70e061a64db844fc599a37,34.823534,115.541954,2018-02-23 17:04:53
21,34.785981,115.874444,2018-02-23 19:02:28,2016061820000b,SDK-XJ_54766baf007f64b863bf0ebc8bc29c40,34.829791,115.567352,2018-02-23 18:08:16
22,34.800156,115.905011,2018-02-23 19:27:50,2016061820000b,SDK-XJ_ec1c10d30589f4e4ffb9541915e40e89,34.786183,115.874436,2018-02-23 19:19:17
23,34.805824,115.906495,2018-02-23 19:53:45,2016061820000b,SDK-XJ_948510a0220b38df1de5e17d4f9a4514,34.800144,115.905588,2018-02-23 19:51:13
24,34.800136,115.905058,2018-02-23 20:21:51,2016061820000b,SDK-XJ_410cefafd90340217d58ce2b85d77c95,34.805705,115.906523,2018-02-23 20:20:05
25,34.786083,115.874331,2018-02-23 21:57:22,2016061820000b,SDK-XJ_bc04090e5fe19945623d70b51186ccd5,34.799920,115.904802,2018-02-23 21:47:58
26,34.813144,115.559183,2018-02-23 23:06:34,2016061820000b,SDK-XJ_fa78d4ff7cc97bf37513ba3262ec03e4,34.785956,115.874230,2018-02-23 22:23:25
27,34.640971,115.536020,2018-02-24 08:51:52,2016061820000b,SDK-XJ_8d0701c27b3432da93c4c53153283e5f,34.812832,115.559228,2018-02-24 08:22:57
28,34.813186,115.559200,2018-02-24 16:30:52,2016061820000b,SDK-XJ_f74edb54343fa030c6308c942740a439,34.640361,115.536748,2018-02-24 15:53:27
29,34.641035,115.536002,2018-02-26 08:46:20,2016061820000b,SDK-XJ_67b307f8e1bd7ac5e76ee52c75911250,34.813406,115.559054,2018-02-26 08:15:52
...,...,...,...,...,...,...,...,...
58067,NaN,NaN,NaT,891711801034491,8b9bd5aed6148259_SDK-XJ_ced8c2e29ee5770f4991c8...,22.149074,111.798026,2018-10-23 08:58:16
58068,NaN,NaN,NaT,891711801035101,0b8f59c9248391c6_SDK-XJ_008a7f9be407aade94fae2...,28.620866,121.421299,2018-10-23 06:31:54
58069,NaN,NaN,NaT,891711801039211,7a36eb379aa0a888_SDK-XJ_84cc54f39a87d1f243681f...,29.578925,106.493505,2018-10-23 17:40:14
58070,NaN,NaN,NaT,891911603000601,85d378cb14ea2647_SDK-XJ_1adacf9727245657d4a4d3...,32.011243,120.934893,2018-10-23 09:20:36
58071,NaN,NaN,NaT,891911603001301,42b898775a9a1d71_SDK-XJ_adfd3854c24c20eea2747f...,28.294973,117.489063,2018-10-23 16:51:02
58072,NaN,NaN,NaT,891911603003511,c67e7cfc37e07b3c_SDK-XJ_4963cee7f15f6c8a023555...,34.187551,119.585775,2018-10-23 17:14:18
58073,NaN,NaN,NaT,891911603006431,001c8c22c0cfbf57_SDK-XJ_b46d91a869e898e49d9440...,32.060246,120.943790,2018-10-23 17:34:31
58074,NaN,NaN,NaT,891911603006691,9d7a738c4f2dd470_SDK-XJ_f71c1f254ebda514f082f4...,27.833020,112.930866,2018-10-23 11:40:18
58075,NaN,NaN,NaT,891911603008101,f0d56161fa255fd7_SDK-XJ_5ba40598d0f125222689e3...,30.193342,110.714664,2018-10-23 13:13:13
58076,NaN,NaN,NaT,891911603011691,12afc0868cbb19ec_SDK-XJ_a89b7d1397fa00400aa6b5...,28.110981,120.981819,2018-10-23 01:25:06
58077,NaN,NaN,NaT,891941604000461,31c517b117dbd530_SDK-XJ_c3877669ab16448d27244f...,23.279263,113.583353,2018-10-23 19:27:56
58078,NaN,NaN,NaT,891941604002431,73ff5fdae3cacd35_SDK-XJ_7453388d1ed5f65ac31b5e...,22.963782,113.025597,2018-10-23 17:09:54
58079,NaN,NaN,NaT,891941604004011,13a851854220a4c7_SDK-XJ_a31f4537b1ae480b59a351...,41.793720,123.332176,2018-10-23 06:44:53
58080,NaN,NaN,NaT,891941604004541,a4dd4c2f939746b7_SDK-XJ_c1d0b407f8f474daeec831...,38.717649,116.132716,2018-10-23 15:44:48
58081,NaN,NaN,NaT,891941604006471,32a0cea8765c8d2f_SDK-XJ_e73abd574710ce2ce0eea9...,36.230447,120.432896,2018-10-23 17:15:38
58082,NaN,NaN,NaT,891941604007151,6e32583a95506bd3_SDK-XJ_f4c109ac7f7e2078af8450...,37.367368,112.344940,2018-10-23 14:01:29
58083,NaN,NaN,NaT,891941604009721,f34ebb5c1a13a8ad_SDK-XJ_4822788c614edb61665321...,32.981074,114.019708,2018-10-23 08:52:49
58084,NaN,NaN,NaT,891941604010041,0903b39a5583e19c_SDK-XJ_86d84540bf8d6a61a5205b...,36.110460,120.443647,2018-10-23 06:33:20
58085,NaN,NaN,NaT,891941605000051,7c4ee5d46f4abdc7_SDK-XJ_aa2477ca11bc5ed1bb9a4e...,30.251683,116.319123,2018-10-23 12:15:29
58086,NaN,NaN,NaT,891941605000541,d42ae674e2eb955d_SDK-XJ_66941085c3f651852d429e...,37.297967,112.388140,2018-10-23 17:46:33
58087,NaN,NaN,NaT,891941605002181,a0555019ce2bdee3_SDK-XJ_5a3fabaf5fc6b802188930...,35.507798,117.636185,2018-10-23 10:19:02
58088,NaN,NaN,NaT,891941605004011,03b8348ecd19934d_SDK-XJ_33bf6ee8c745ad1d38df2d...,24.504658,118.111175,2018-10-23 13:21:59
58089,NaN,NaN,NaT,891941605004631,812aeb3019a8b3ba_SDK-XJ_bf69533dc0791139d6fe50...,30.948849,118.723017,2018-10-23 01:51:36
58090,NaN,NaN,NaT,891941605008621,3d7820176f931954_SDK-XJ_7f5ea7801e414b5969b851...,31.797742,120.017789,2018-10-23 17:18:12
58091,NaN,NaN,NaT,891941605008721,6cc77b21893ac74a_SDK-XJ_75d4c727b9b7e2c295d9a0...,36.262907,104.882319,2018-10-23 17:42:27
58092,NaN,NaN,NaT,895851711000830,ecd2b169462a8170_SDK-XJ_5f9fad90d15c6f26c61bef...,39.808821,116.496067,2018-10-23 11:02:22
58093,NaN,NaN,NaT,895851711001200,03901f27f8da8635_SDK-XJ_8bb742fb3c64cd11de4052...,31.017508,121.401338,2018-10-23 00:14:55
58094,NaN,NaN,NaT,895851711003404,baab481186d3c5b7_SDK-XJ_175e32c31c8975998cb8d8...,23.115605,113.413985,2018-10-23 08:18:49
58095,NaN,NaN,NaT,895851711004600,0d6bfa6c320ffcaf_SDK-XJ_ca4fac4dde952a9f9bd2a4...,22.807363,108.324269,2018-10-23 19:14:32
58096,NaN,NaN,NaT,911691581099171,331d3083d4546ae6_SDK-XJ_d0fd8c2f78cfae07cc4c4f...,36.878666,118.072888,2018-10-23 15:46:47

In [ ]:
#df_train.r_key.str.split('_')
for i in df_data.columns:
    print('column:',i,'have',df_data[i].unique().__len__())

In [17]:
df_data['week'] = df_data.start_time.dt.week
df_data['week_day'] = df_data.start_time.dt.weekday
df_data['month'] = df_data.start_time.dt.month
df_data['hour'] =df_data.start_time.dt.hour
df_data['calendar_date'] =df_data.start_time.dt.date
df_data.calendar_date = pd.to_datetime(df_data.calendar_date)
df_data.head()
#df_data = df_data.drop('end_time',axis = 1)
# df_train = df_data[df_data.start_time.dt.month < 9]
# df_test = df_data[df_data.start_time.dt.month >= 9]

,end_lat,end_lon,end_time,out_id,r_key,start_lat,start_lon,start_time,week,week_day,month,hour,calendar_date
0,33.779811,111.605885,2018-01-20 10:19:04,2016061820000b,SDK-XJ_609994b4d50a8a07a64d41d1f70bbb05,33.783415,111.603660,2018-01-20 10:13:43,3,5,1,10,2018-01-20
1,34.814875,115.549374,2018-02-12 17:58:13,2016061820000b,SDK-XJ_4c2f29d94c9478623711756e4ae34cc5,34.810763,115.549264,2018-02-12 17:40:51,7,0,2,17,2018-02-12
2,34.813136,115.559243,2018-02-13 15:24:33,2016061820000b,SDK-XJ_3570183177536a575b9da67a86efcd62,34.640284,115.539024,2018-02-13 14:52:24,7,1,2,14,2018-02-13
3,34.813141,115.559217,2018-02-13 17:39:02,2016061820000b,SDK-XJ_78d749a376e190685716a51a6704010b,34.818280,115.542039,2018-02-13 17:23:08,7,1,2,17,2018-02-13
4,34.786126,115.874361,2018-02-13 19:02:51,2016061820000b,SDK-XJ_3b249941c27834f5e43d43a9114e4909,34.813278,115.559260,2018-02-13 18:06:02,7,1,2,18,2018-02-13

### time_features,index by calendar_date,one-hot for some special holiday in china
###  read "calendar_date","holiday","dayOff" these three column

In [19]:
# time_features,index by calendar_date,one-hot for some special holiday in china
# read "calendar_date","holiday","dayOff" these three column
time_features = pd.read_csv('data/time_features.csv')[["calendar_date","holiday","dayOff"]]
time_features.calendar_date = pd.to_datetime(time_features.calendar_date)

### merge two dataframe via calendar_date,add data feature for each column in df_data

In [22]:
# merge two dataframe via calendar_date,add data feature for each column in df_data
df_data = df_data.merge(time_features,on="calendar_date")
df_data.head(5)

,end_lat,end_lon,end_time,out_id,r_key,start_lat,start_lon,start_time,week,week_day,month,hour,calendar_date,holiday_x,dayOff_x,holiday_y,dayOff_y,holiday,dayOff
0,33.779811,111.605885,2018-01-20 10:19:04,2016061820000b,SDK-XJ_609994b4d50a8a07a64d41d1f70bbb05,33.783415,111.603660,2018-01-20 10:13:43,3,5,1,10,2018-01-20,0,1,0,1,0,1
1,39.720161,98.488424,2018-01-20 02:21:39,851181601004171,SDK-XJ_a7155fe411bc3fe5bfacb3137c443dde,39.728298,98.496293,2018-01-20 01:54:42,3,5,1,1,2018-01-20,0,1,0,1,0,1
2,39.717471,98.489098,2018-01-20 22:13:50,851181601004171,SDK-XJ_1fd9ae6c8b9a695f9f9b9a9afd4d7028,39.717927,98.488435,2018-01-20 21:49:44,3,5,1,21,2018-01-20,0,1,0,1,0,1
3,39.717432,98.489051,2018-01-21 00:09:32,851181601004171,SDK-XJ_a05d788b2b172e383e7bab162c2c1e77,39.719525,98.488131,2018-01-20 23:45:29,3,5,1,23,2018-01-20,0,1,0,1,0,1
4,25.488169,105.354194,2018-01-20 12:02:40,851181601028851,SDK-XJ_2e5f00055146b0548726578fbaa62426,25.478436,105.366651,2018-01-20 11:56:29,3,5,1,11,2018-01-20,0,1,0,1,0,1

### prepared timestamp for add more feature on time column

In [24]:
# duplicate the "end_lat" and  "end_lon" for 3 times
m = 3
df_data['start_lat_1'] = df_data.start_lat.round(m)
df_data['start_lon_1'] = df_data.start_lon.round(m)
df_data["end_lat_2"] = df_data.end_lat.round(m)
df_data["end_lon_2"] = df_data.end_lon.round(m)
df_data.head()

,end_lat,end_lon,end_time,out_id,r_key,start_lat,start_lon,start_time,week,week_day,...,holiday_x,dayOff_x,holiday_y,dayOff_y,holiday,dayOff,start_lat_1,start_lon_1,end_lat_2,end_lon_2
0,33.779811,111.605885,2018-01-20 10:19:04,2016061820000b,SDK-XJ_609994b4d50a8a07a64d41d1f70bbb05,33.783415,111.603660,2018-01-20 10:13:43,3,5,...,0,1,0,1,0,1,33.783,111.604,33.780,111.606
1,39.720161,98.488424,2018-01-20 02:21:39,851181601004171,SDK-XJ_a7155fe411bc3fe5bfacb3137c443dde,39.728298,98.496293,2018-01-20 01:54:42,3,5,...,0,1,0,1,0,1,39.728,98.496,39.720,98.488
2,39.717471,98.489098,2018-01-20 22:13:50,851181601004171,SDK-XJ_1fd9ae6c8b9a695f9f9b9a9afd4d7028,39.717927,98.488435,2018-01-20 21:49:44,3,5,...,0,1,0,1,0,1,39.718,98.488,39.717,98.489
3,39.717432,98.489051,2018-01-21 00:09:32,851181601004171,SDK-XJ_a05d788b2b172e383e7bab162c2c1e77,39.719525,98.488131,2018-01-20 23:45:29,3,5,...,0,1,0,1,0,1,39.720,98.488,39.717,98.489
4,25.488169,105.354194,2018-01-20 12:02:40,851181601028851,SDK-XJ_2e5f00055146b0548726578fbaa62426,25.478436,105.366651,2018-01-20 11:56:29,3,5,...,0,1,0,1,0,1,25.478,105.367,25.488,105.354

In [26]:
# count unique for each column
for i in df_data.columns:
    print('column:',i,'have',df_data[i].unique().__len__())

column: end_lat have 1280754
column: end_lon have 1313349
column: end_time have 1405441
column: out_id have 5817
column: r_key have 1553911
column: start_lat have 1377855
column: start_lon have 1409858
column: start_time have 1459660
column: week have 40
column: week_day have 7
column: month have 10
column: hour have 24
column: calendar_date have 237
column: holiday_x have 2
column: dayOff_x have 2
column: holiday_y have 2
column: dayOff_y have 2
column: holiday have 2
column: dayOff have 2
column: start_lat_1 have 25036
column: start_lon_1 have 32604
column: end_lat_2 have 25210
column: end_lon_2 have 32895

###  contact lng and lag in one column into coordinate format

In [30]:
# contact lng and lag in one column,point format
df_data['start_place'] = df_data['start_lat_1'].astype(str)+','+df_data['start_lon_1'].astype(str)
df_data['end_place'] = df_data['end_lat_2'].astype(str)+','+df_data['end_lon_2'].astype(str)

In [31]:
df_data.head()

,end_lat,end_lon,end_time,out_id,r_key,start_lat,start_lon,start_time,week,week_day,...,holiday_y,dayOff_y,holiday,dayOff,start_lat_1,start_lon_1,end_lat_2,end_lon_2,start_place,end_place
0,33.779811,111.605885,2018-01-20 10:19:04,2016061820000b,SDK-XJ_609994b4d50a8a07a64d41d1f70bbb05,33.783415,111.603660,2018-01-20 10:13:43,3,5,...,0,1,0,1,33.783,111.604,33.780,111.606,"33.783,111.604","33.78,111.606"
1,39.720161,98.488424,2018-01-20 02:21:39,851181601004171,SDK-XJ_a7155fe411bc3fe5bfacb3137c443dde,39.728298,98.496293,2018-01-20 01:54:42,3,5,...,0,1,0,1,39.728,98.496,39.720,98.488,"39.728,98.496","39.72,98.488"
2,39.717471,98.489098,2018-01-20 22:13:50,851181601004171,SDK-XJ_1fd9ae6c8b9a695f9f9b9a9afd4d7028,39.717927,98.488435,2018-01-20 21:49:44,3,5,...,0,1,0,1,39.718,98.488,39.717,98.489,"39.718,98.488","39.717,98.489"
3,39.717432,98.489051,2018-01-21 00:09:32,851181601004171,SDK-XJ_a05d788b2b172e383e7bab162c2c1e77,39.719525,98.488131,2018-01-20 23:45:29,3,5,...,0,1,0,1,39.720,98.488,39.717,98.489,"39.72,98.488","39.717,98.489"
4,25.488169,105.354194,2018-01-20 12:02:40,851181601028851,SDK-XJ_2e5f00055146b0548726578fbaa62426,25.478436,105.366651,2018-01-20 11:56:29,3,5,...,0,1,0,1,25.478,105.367,25.488,105.354,"25.478,105.367","25.488,105.354"

#### Define DISTANCE FUNCTION

because what we have is Latitude and longitude(geographic coordinate system),so when we consider the distance, we cannot use Euclidean Distance,we need to consider the shape of earth.

-[Geographic_coordinate_system](https://en.wikipedia.org/wiki/Geographic_coordinate_system)

In [22]:
# calculate the distance on the earth,based on lat and lon
def getDistance(latA, lonA, latB, lonB):  
    ra = 6378140  # radius of equator: meter  
    rb = 6356755  # radius of polar: meter  
    flatten = (ra - rb) / ra # Partial rate of the earth  
    # change angle to radians  
    radLatA = radians(latA)  
    radLonA = radians(lonA)  
    radLatB = radians(latB)  
    radLonB = radians(lonB)  
  
    try: 
        pA = atan(rb / ra * tan(radLatA))  
        pB = atan(rb / ra * tan(radLatB))  
        x = acos(sin(pA) * sin(pB) + cos(pA) * cos(pB) * cos(radLonA - radLonB))  
        c1 = (sin(x) - x) * (sin(pA) + sin(pB))**2 / cos(x / 2)**2  
        c2 = (sin(x) + x) * (sin(pA) - sin(pB))**2 / sin(x / 2)**2  
        dr = flatten / 8 * (c1 - c2)  
        distance = ra * (x + dr)  
        return distance	  # meter   
    except:
        return 0.0000001

#### SAMPLE

the data is with in a city,so we choose the person who has more than 10 records.

we focus on these active person

In [37]:
# select out id shows up above 10 times
df_data = df_data[df_data.out_id.isin(test_most_list)].copy()

In [38]:
df_data.head(2)

,end_lat,end_lon,end_time,out_id,r_key,start_lat,start_lon,start_time,week,week_day,...,holiday_y,dayOff_y,holiday,dayOff,start_lat_1,start_lon_1,end_lat_2,end_lon_2,start_place,end_place
1,39.720161,98.488424,2018-01-20 02:21:39,851181601004171,SDK-XJ_a7155fe411bc3fe5bfacb3137c443dde,39.728298,98.496293,2018-01-20 01:54:42,3,5,...,0,1,0,1,39.728,98.496,39.720,98.488,"39.728,98.496","39.72,98.488"
2,39.717471,98.489098,2018-01-20 22:13:50,851181601004171,SDK-XJ_1fd9ae6c8b9a695f9f9b9a9afd4d7028,39.717927,98.488435,2018-01-20 21:49:44,3,5,...,0,1,0,1,39.718,98.488,39.717,98.489,"39.718,98.488","39.717,98.489"

After the selection of data,we have 2881 totally vehicle among the city

In [39]:
# this many out position totally
len(df_data.out_id.unique())

2881

In [26]:
total_sample = df_data.shape[0]
cut_sample = int(df_data.shape[0]*0.75)
train_set = df_data.iloc[:cut_sample,:].copy()
test_set = df_data.iloc[cut_sample:,:].copy()

In [27]:
cut_sample

668422

In [28]:
train_set.shape

(668422, 21)

In [29]:
test_set.shape

(222808, 21)

In [30]:
df_data.shape

(891230, 21)

In [49]:
# calculate the center of a cluster
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    #centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centroid)

In [40]:
# density cluster
coords=train_set[['end_lon','end_lat']].values
kms_per_radian = 6371.0088
epsilon = 0.02/6371.0088
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))

In [41]:
cluster_labels = db.labels_
cluster_labels

array([     0,      1,      2, ..., 483861,  51339,  51339], dtype=int64)

In [45]:
# set cluster_labels as end_location_id
train_set['end_location_id'] = cluster_labels
train_set.head()

,r_key,out_id,start_time,end_time,start_lat,start_lon,end_lat,end_lon,end_location_id
0,SDK-XJ_609994b4d50a8a07a64d41d1f70bbb05,2016061820000b,2018-01-20 10:13:43,2018-01-20 10:19:04,33.783415,111.603660,33.779811,111.605885,0
1,SDK-XJ_4c2f29d94c9478623711756e4ae34cc5,2016061820000b,2018-02-12 17:40:51,2018-02-12 17:58:13,34.810763,115.549264,34.814875,115.549374,1
2,SDK-XJ_3570183177536a575b9da67a86efcd62,2016061820000b,2018-02-13 14:52:24,2018-02-13 15:24:33,34.640284,115.539024,34.813136,115.559243,2
3,SDK-XJ_78d749a376e190685716a51a6704010b,2016061820000b,2018-02-13 17:23:08,2018-02-13 17:39:02,34.818280,115.542039,34.813141,115.559217,2
4,SDK-XJ_3b249941c27834f5e43d43a9114e4909,2016061820000b,2018-02-13 18:06:02,2018-02-13 19:02:51,34.813278,115.559260,34.786126,115.874361,3

In [46]:
train_set['end_location_id'] = train_set['end_location_id']
num_clusters = len(set(cluster_labels))

In [47]:
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 483862

In [50]:
centermost_points = clusters.map(get_centermost_point)
lons, lats = zip(*centermost_points)
rep_points = pd.DataFrame({'lon_center':lons, 'lat_center':lats}).reset_index()

In [35]:
X_train = train_set[['start_lat','start_lon','week_day', 'hour']]
y_train = train_set['end_location_id']
X_test = test_set[['start_lat','start_lon','week_day', 'hour']].copy()

In [ ]:
train_data = xgb.DMatrix(data=X_train, label=y_train)
test_data = xgb.DMatrix(data=X_test, label=y_train)
watchlist = [(train_data, 'train'), (test_data, 'test')]
xgb_pars = {'objective':'multi:softmax', 'num_class':num_clusters,'max_depth': 6,'silent':1}
param = {'objective':'multi:softmax', 'num_class':num_clusters,'max_depth': 6,'silent':1}

In [ ]:
model = xgb.train(param,train_data)
# model = xgb.train(xgb_pars, train_data, 10, watchlist, early_stopping_rounds=2, maximize=False, verbose_eval=1)
print('Modeling RMSLE %.5f' % model.best_score)

In [ ]:
# train_data = xgb.DMatrix(data=X_train,label=y_train)
# param = {'objective':'multi:softmax', 'num_class':num_clusters,'max_depth': 6,'silent':1}
# model = xgb.train(param,train_data)

In [ ]:
X_test["pred_label"] = model.predict(test_data)

In [ ]:
X_test.merge(rep_points,left_on="pred_label",right_on="index")

# Add more  features

In [50]:
train_part = df_data[df_data.start_time.dt.month < 6].copy()

In [51]:
def count_train(unit_train_part):
    return pd.DataFrame(pd.value_counts(unit_train_part.start_place)).reset_index().rename(columns={"start_place":"start_count","index":"start_place"})

In [52]:
count_train_part = train_part.groupby("out_id").apply(count_train).reset_index().drop("level_1",axis=1)

In [53]:
df_data = df_data.merge(count_train_part,how="left").fillna(0.0)

In [54]:
df_data.head()

,end_lat,end_lon,end_time,out_id,r_key,start_lat,start_lon,start_time,week,week_day,...,calendar_date,holiday,dayOff,start_lat_1,start_lon_1,end_lat_2,end_lon_2,start_place,end_place,start_count
0,39.720161,98.488424,2018-01-20 02:21:39,851181601004171,SDK-XJ_a7155fe411bc3fe5bfacb3137c443dde,39.728298,98.496293,2018-01-20 01:54:42,3,5,...,2018-01-20,0,1,39.728,98.496,39.720,98.488,"39.728,98.496","39.72,98.488",1.0
1,39.717471,98.489098,2018-01-20 22:13:50,851181601004171,SDK-XJ_1fd9ae6c8b9a695f9f9b9a9afd4d7028,39.717927,98.488435,2018-01-20 21:49:44,3,5,...,2018-01-20,0,1,39.718,98.488,39.717,98.489,"39.718,98.488","39.717,98.489",11.0
2,39.717432,98.489051,2018-01-21 00:09:32,851181601004171,SDK-XJ_a05d788b2b172e383e7bab162c2c1e77,39.719525,98.488131,2018-01-20 23:45:29,3,5,...,2018-01-20,0,1,39.720,98.488,39.717,98.489,"39.72,98.488","39.717,98.489",6.0
3,23.369518,103.405644,2018-01-20 20:57:04,861021508004521,SDK-XJ_97838d2475985c51d083cf5744c14d34,23.346433,103.408263,2018-01-20 20:29:45,3,5,...,2018-01-20,0,1,23.346,103.408,23.370,103.406,"23.346,103.408","23.37,103.406",1.0
4,43.970747,87.574997,2018-01-20 10:12:52,861021509015321,SDK-XJ_1e789ab3ca2ce2c0942dbe4f7842cc5d,43.945658,87.590479,2018-01-20 10:06:51,3,5,...,2018-01-20,0,1,43.946,87.590,43.971,87.575,"43.946,87.59","43.971,87.575",18.0

# Train and Predict

#### at this  step,we first assign the point that we want to predict into the 'frequent vehicle' and then use that model to make a prediction 

#### the feature we used here is ('start_lat','start_lon','week_day', 'hour','start_count',"holiday","dayOff")

In [55]:
def get_centermost_point(cluster):
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    #centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centroid)

def train_model(df_data): 
#     df_data = df_data[df_data.start_time.dt.month < 9 ].copy()
#     total_sample = df_data.shape[0]
#     cut_sample = int(df_data.shape[0]*0.75)
#     train_set = df_data.iloc[:cut_sample,:].copy()
#     test_set = df_data.iloc[cut_sample:,:].copy()
    train_set = df_data[df_data.start_time.dt.month < 9 ].copy()
    test_set = df_data[(df_data.start_time.dt.month >= 9)&(df_data.start_time.dt.month <11)].copy()
    test_set = test_set.drop("out_id",axis=1).reset_index(drop=True)
    
    if test_set.shape[0] > 0 :
        coords=train_set[['end_lon','end_lat']].values
        kms_per_radian = 6371.0088
        epsilon = 0.02/6371.0088
        db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
        cluster_labels = db.labels_
        train_set['end_location_id'] = cluster_labels
        train_set['end_location_id'] = train_set['end_location_id']
        num_clusters = len(set(cluster_labels))
        clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
        print('Number of clusters: {}'.format(num_clusters))
        num_digits = len(train_set.end_place.unique())
        print('3 digits: {}'.format(num_digits))

        centermost_points = clusters.map(get_centermost_point)
        lons, lats = zip(*centermost_points)
        rep_points = pd.DataFrame({'lon_center':lons, 'lat_center':lats}).reset_index()

        X_train = train_set[['start_lat','start_lon','week_day', 'hour','start_count',"holiday","dayOff"]]
        y_train = train_set['end_location_id']
        X_test = test_set[['start_lat','start_lon','week_day', 'hour','start_count',"holiday","dayOff"]].copy()

        train_data = xgb.DMatrix(data=X_train,label=y_train)
        param = {"eta":0.1,'objective':'multi:softmax', 'num_class':num_clusters,'silent':1,'max_depth':4,'min_child_weight': 0.8}

        test_data = xgb.DMatrix(data=X_test)
        test_set["pred_label"] = model.predict(test_data)
        pred_result = test_set.merge(rep_points,left_on="pred_label",right_on="index")[["r_key","lat_center","lon_center"]]

        return pred_result

In [ ]:
test_result = df_data.groupby('out_id').apply(train_model).reset_index()

Number of clusters: 116
3 digits: 102
Number of clusters: 116
3 digits: 102
Number of clusters: 111
3 digits: 107
Number of clusters: 122
3 digits: 109
Number of clusters: 81
3 digits: 74
Number of clusters: 61
3 digits: 71
Number of clusters: 121
3 digits: 128
Number of clusters: 94
3 digits: 87
Number of clusters: 139
3 digits: 133
Number of clusters: 214
3 digits: 216
Number of clusters: 118
3 digits: 118
Number of clusters: 154
3 digits: 162
Number of clusters: 77
3 digits: 72
Number of clusters: 169
3 digits: 149
Number of clusters: 12
3 digits: 14
Number of clusters: 62
3 digits: 66
Number of clusters: 11
3 digits: 11
Number of clusters: 71
3 digits: 75
Number of clusters: 130
3 digits: 120
Number of clusters: 98
3 digits: 89
Number of clusters: 67
3 digits: 61
Number of clusters: 103
3 digits: 98
Number of clusters: 52
3 digits: 53
Number of clusters: 75
3 digits: 66
Number of clusters: 42
3 digits: 44
Number of clusters: 55
3 digits: 57
Number of clusters: 165
3 digits: 144
Number of clusters: 53
3 digits: 52
Number of clusters: 79
3 digits: 80
Number of clusters: 50
3 digits: 49
Number of clusters: 76
3 digits: 77
Number of clusters: 207
3 digits: 190
Number of clusters: 50
3 digits: 51
Number of clusters: 76
3 digits: 84
Number of clusters: 35
3 digits: 34
Number of clusters: 151
3 digits: 141
Number of clusters: 95
3 digits: 93
Number of clusters: 7
3 digits: 7
Number of clusters: 183
3 digits: 162
Number of clusters: 131
3 digits: 116
Number of clusters: 86
3 digits: 86
Number of clusters: 60
3 digits: 61
Number of clusters: 92
3 digits: 92
Number of clusters: 135
3 digits: 130
Number of clusters: 102
3 digits: 127
Number of clusters: 117
3 digits: 111
Number of clusters: 70
3 digits: 72
Number of clusters: 43
3 digits: 43
Number of clusters: 149
3 digits: 144
Number of clusters: 83
3 digits: 96
Number of clusters: 200
3 digits: 163
Number of clusters: 60
3 digits: 60
Number of clusters: 163
3 digits: 157
Number of clusters: 125
3 digits: 125
Number of clusters: 114
3 digits: 102
Number of clusters: 80
3 digits: 73
Number of clusters: 51
3 digits: 54
Number of clusters: 54
3 digits: 50
Number of clusters: 265
3 digits: 240
Number of clusters: 79
3 digits: 73
Number of clusters: 232
3 digits: 173
Number of clusters: 55
3 digits: 54
Number of clusters: 74
3 digits: 80
Number of clusters: 81
3 digits: 83
Number of clusters: 100
3 digits: 103
Number of clusters: 93
3 digits: 92
Number of clusters: 168
3 digits: 158
Number of clusters: 76
3 digits: 71
Number of clusters: 122
3 digits: 114
Number of clusters: 206
3 digits: 188
Number of clusters: 139
3 digits: 128
Number of clusters: 124
3 digits: 133
Number of clusters: 121
3 digits: 100
Number of clusters: 144
3 digits: 132
Number of clusters: 80
3 digits: 79
Number of clusters: 78
3 digits: 70
Number of clusters: 46
3 digits: 38
Number of clusters: 149
3 digits: 144
Number of clusters: 27
3 digits: 26
Number of clusters: 94
3 digits: 109
Number of clusters: 43
3 digits: 47
Number of clusters: 66
3 digits: 70
Number of clusters: 90
3 digits: 85
Number of clusters: 64
3 digits: 66
Number of clusters: 82
3 digits: 86
Number of clusters: 81
3 digits: 78
Number of clusters: 140
3 digits: 130
Number of clusters: 111
3 digits: 102
Number of clusters: 72
3 digits: 69
Number of clusters: 201
3 digits: 192
Number of clusters: 99
3 digits: 104
Number of clusters: 42
3 digits: 43
Number of clusters: 79
3 digits: 82
Number of clusters: 51
3 digits: 51
Number of clusters: 71
3 digits: 72
Number of clusters: 116
3 digits: 117
Number of clusters: 69
3 digits: 72
Number of clusters: 205
3 digits: 183
Number of clusters: 238
3 digits: 242
Number of clusters: 34
3 digits: 36
Number of clusters: 63
3 digits: 57
Number of clusters: 191
3 digits: 165
Number of clusters: 163
3 digits: 151
Number of clusters: 250
3 digits: 223
Number of clusters: 153
3 digits: 149
Number of clusters: 149
3 digits: 148
Number of clusters: 236
3 digits: 219
Number of clusters: 59
3 digits: 67
Number of clusters: 124
3 digits: 120
Number of clusters: 154
3 digits: 153
Number of clusters: 132
3 digits: 113
Number of clusters: 98
3 digits: 100
Number of clusters: 178
3 digits: 195
Number of clusters: 63
3 digits: 65
Number of clusters: 133
3 digits: 125
Number of clusters: 69
3 digits: 70
Number of clusters: 135
3 digits: 135
Number of clusters: 74
3 digits: 73
Number of clusters: 193
3 digits: 167
Number of clusters: 61
3 digits: 64
Number of clusters: 110
3 digits: 102
Number of clusters: 45
3 digits: 45
Number of clusters: 57
3 digits: 54
Number of clusters: 161
3 digits: 151
Number of clusters: 59
3 digits: 58
Number of clusters: 77
3 digits: 69
Number of clusters: 72
3 digits: 71
Number of clusters: 135
3 digits: 134
Number of clusters: 34
3 digits: 42
Number of clusters: 66
3 digits: 62
Number of clusters: 75
3 digits: 69
Number of clusters: 183
3 digits: 197
Number of clusters: 143
3 digits: 148
Number of clusters: 170
3 digits: 172
Number of clusters: 133
3 digits: 118
Number of clusters: 229
3 digits: 214
Number of clusters: 276
3 digits: 250
Number of clusters: 130
3 digits: 119
Number of clusters: 249
3 digits: 221
Number of clusters: 104
3 digits: 114
Number of clusters: 123
3 digits: 119
Number of clusters: 164
3 digits: 141
Number of clusters: 31
3 digits: 28
Number of clusters: 187
3 digits: 152
Number of clusters: 74
3 digits: 67
Number of clusters: 77
3 digits: 78
Number of clusters: 47
3 digits: 46
Number of clusters: 84
3 digits: 87
Number of clusters: 277
3 digits: 265
Number of clusters: 287
3 digits: 274
Number of clusters: 109
3 digits: 110
Number of clusters: 122
3 digits: 117
Number of clusters: 56
3 digits: 54
Number of clusters: 145
3 digits: 123
Number of clusters: 106
3 digits: 100
Number of clusters: 222
3 digits: 213
Number of clusters: 87
3 digits: 83
Number of clusters: 155
3 digits: 137
Number of clusters: 201
3 digits: 187
Number of clusters: 55
3 digits: 54
Number of clusters: 27
3 digits: 34
Number of clusters: 84
3 digits: 82
Number of clusters: 70
3 digits: 75
Number of clusters: 82
3 digits: 73
Number of clusters: 122
3 digits: 120
Number of clusters: 101
3 digits: 106
Number of clusters: 199
3 digits: 182
Number of clusters: 165
3 digits: 158
Number of clusters: 54
3 digits: 53
Number of clusters: 145
3 digits: 141
Number of clusters: 175
3 digits: 159
Number of clusters: 140
3 digits: 136
Number of clusters: 64
3 digits: 72
Number of clusters: 99
3 digits: 103
Number of clusters: 59
3 digits: 61
Number of clusters: 85
3 digits: 86
Number of clusters: 96
3 digits: 102
Number of clusters: 98
3 digits: 96
Number of clusters: 97
3 digits: 99
Number of clusters: 85
3 digits: 81
Number of clusters: 199
3 digits: 179
Number of clusters: 46
3 digits: 47
Number of clusters: 48
3 digits: 46
Number of clusters: 125
3 digits: 119
Number of clusters: 71
3 digits: 75
Number of clusters: 93
3 digits: 96
Number of clusters: 200
3 digits: 190
Number of clusters: 198
3 digits: 185
Number of clusters: 94
3 digits: 86
Number of clusters: 190
3 digits: 194
Number of clusters: 100
3 digits: 105
Number of clusters: 215
3 digits: 197
Number of clusters: 162
3 digits: 163
Number of clusters: 70
3 digits: 75
Number of clusters: 172
3 digits: 171
Number of clusters: 258
3 digits: 232
Number of clusters: 122
3 digits: 106
Number of clusters: 12
3 digits: 14
Number of clusters: 70
3 digits: 68
Number of clusters: 211
3 digits: 188
Number of clusters: 55
3 digits: 59
Number of clusters: 94
3 digits: 81
Number of clusters: 72
3 digits: 64
Number of clusters: 268
3 digits: 222
Number of clusters: 159
3 digits: 147
Number of clusters: 238
3 digits: 216
Number of clusters: 111
3 digits: 106
Number of clusters: 103
3 digits: 109
Number of clusters: 179
3 digits: 156
Number of clusters: 116
3 digits: 112
Number of clusters: 193
3 digits: 186
Number of clusters: 95
3 digits: 79
Number of clusters: 49
3 digits: 46
Number of clusters: 50
3 digits: 51
Number of clusters: 77
3 digits: 75
Number of clusters: 129
3 digits: 119
Number of clusters: 66
3 digits: 71
Number of clusters: 75
3 digits: 76
Number of clusters: 108
3 digits: 110
Number of clusters: 146
3 digits: 129
Number of clusters: 52
3 digits: 61
Number of clusters: 23
3 digits: 25

Number of clusters: 101
3 digits: 91
Number of clusters: 99
3 digits: 99
Number of clusters: 123
3 digits: 128
Number of clusters: 164
3 digits: 147
Number of clusters: 121
3 digits: 117
Number of clusters: 58
3 digits: 66
Number of clusters: 155
3 digits: 134
Number of clusters: 228
3 digits: 207
Number of clusters: 134
3 digits: 117
Number of clusters: 193
3 digits: 159
Number of clusters: 98
3 digits: 104
Number of clusters: 38
3 digits: 43
Number of clusters: 58
3 digits: 59
Number of clusters: 40
3 digits: 49
Number of clusters: 108
3 digits: 103
Number of clusters: 103
3 digits: 80
Number of clusters: 104
3 digits: 111
Number of clusters: 87
3 digits: 93
Number of clusters: 72
3 digits: 78
Number of clusters: 100
3 digits: 96
Number of clusters: 169
3 digits: 158
Number of clusters: 72
3 digits: 67
Number of clusters: 35
3 digits: 35
Number of clusters: 103
3 digits: 95
Number of clusters: 44
3 digits: 47
Number of clusters: 137
3 digits: 138
Number of clusters: 74
3 digits: 72
Number of clusters: 93
3 digits: 95
Number of clusters: 173
3 digits: 162
Number of clusters: 112
3 digits: 100
Number of clusters: 227
3 digits: 243
Number of clusters: 130
3 digits: 128
Number of clusters: 195
3 digits: 183
Number of clusters: 99
3 digits: 92
Number of clusters: 113
3 digits: 115
Number of clusters: 154
3 digits: 168
Number of clusters: 90
3 digits: 83
Number of clusters: 69
3 digits: 64
Number of clusters: 71
3 digits: 75
Number of clusters: 79
3 digits: 80
Number of clusters: 93
3 digits: 97
Number of clusters: 84
3 digits: 79
Number of clusters: 59
3 digits: 58
Number of clusters: 242
3 digits: 211
Number of clusters: 82
3 digits: 79
Number of clusters: 127
3 digits: 119
Number of clusters: 116
3 digits: 117
Number of clusters: 114
3 digits: 109
Number of clusters: 100
3 digits: 100
Number of clusters: 176
3 digits: 155
Number of clusters: 133
3 digits: 122
Number of clusters: 142
3 digits: 143
Number of clusters: 178
3 digits: 166
Number of clusters: 73
3 digits: 75
Number of clusters: 108
3 digits: 104
Number of clusters: 114
3 digits: 115
Number of clusters: 48
3 digits: 48
Number of clusters: 91
3 digits: 85
Number of clusters: 124
3 digits: 128
Number of clusters: 308
3 digits: 276
Number of clusters: 208
3 digits: 199
Number of clusters: 126
3 digits: 119
Number of clusters: 79
3 digits: 79
Number of clusters: 58
3 digits: 59
Number of clusters: 96
3 digits: 87
Number of clusters: 214
3 digits: 190
Number of clusters: 239
3 digits: 204
Number of clusters: 114
3 digits: 105
Number of clusters: 69
3 digits: 65
Number of clusters: 78
3 digits: 129
Number of clusters: 169
3 digits: 157
Number of clusters: 47
3 digits: 45
Number of clusters: 89
3 digits: 93
Number of clusters: 82
3 digits: 86
Number of clusters: 71
3 digits: 69
Number of clusters: 139
3 digits: 125
Number of clusters: 70
3 digits: 65
Number of clusters: 53
3 digits: 55
Number of clusters: 96
3 digits: 101
Number of clusters: 117
3 digits: 122
Number of clusters: 46
3 digits: 38
Number of clusters: 68
3 digits: 63
Number of clusters: 99
3 digits: 100
Number of clusters: 102
3 digits: 97
Number of clusters: 65
3 digits: 66
Number of clusters: 51
3 digits: 55
Number of clusters: 60
3 digits: 60
Number of clusters: 72
3 digits: 60
Number of clusters: 64
3 digits: 64
Number of clusters: 85
3 digits: 79
Number of clusters: 242
3 digits: 209
Number of clusters: 56
3 digits: 59
Number of clusters: 94
3 digits: 91
Number of clusters: 158
3 digits: 152
Number of clusters: 102
3 digits: 99
Number of clusters: 38
3 digits: 36
Number of clusters: 256
3 digits: 224
Number of clusters: 60
3 digits: 67
Number of clusters: 178
3 digits: 158
Number of clusters: 60
3 digits: 58
Number of clusters: 72
3 digits: 75
Number of clusters: 114
3 digits: 120
Number of clusters: 84
3 digits: 76
Number of clusters: 61
3 digits: 60
Number of clusters: 80
3 digits: 73
Number of clusters: 78
3 digits: 76
Number of clusters: 144
3 digits: 126
Number of clusters: 28
3 digits: 30
Number of clusters: 82
3 digits: 76
Number of clusters: 110
3 digits: 104
Number of clusters: 44
3 digits: 45
Number of clusters: 140
3 digits: 128
Number of clusters: 102
3 digits: 100
Number of clusters: 242
3 digits: 204
Number of clusters: 129
3 digits: 137
Number of clusters: 82
3 digits: 74
Number of clusters: 43
3 digits: 39
Number of clusters: 135
3 digits: 121
Number of clusters: 94
3 digits: 99
Number of clusters: 31
3 digits: 29
Number of clusters: 89
3 digits: 89
Number of clusters: 27
3 digits: 40
Number of clusters: 68
3 digits: 74
Number of clusters: 114
3 digits: 113
Number of clusters: 96
3 digits: 94
Number of clusters: 46
3 digits: 49
Number of clusters: 95
3 digits: 91
Number of clusters: 126
3 digits: 111
Number of clusters: 62
3 digits: 63
Number of clusters: 40
3 digits: 40
Number of clusters: 50
3 digits: 51
Number of clusters: 163
3 digits: 147
Number of clusters: 105
3 digits: 102
Number of clusters: 148
3 digits: 139
Number of clusters: 109
3 digits: 98
Number of clusters: 147
3 digits: 139
Number of clusters: 48
3 digits: 50
Number of clusters: 90
3 digits: 94
Number of clusters: 157
3 digits: 163
Number of clusters: 50
3 digits: 54
Number of clusters: 50
3 digits: 50
Number of clusters: 78
3 digits: 80
Number of clusters: 95
3 digits: 93
Number of clusters: 51
3 digits: 55
Number of clusters: 77
3 digits: 73
Number of clusters: 121
3 digits: 119
Number of clusters: 188
3 digits: 192
Number of clusters: 137
3 digits: 139
Number of clusters: 247
3 digits: 273
Number of clusters: 109
3 digits: 117
Number of clusters: 62
3 digits: 61
Number of clusters: 53
3 digits: 64
Number of clusters: 90
3 digits: 82
Number of clusters: 248
3 digits: 247
Number of clusters: 129
3 digits: 118
Number of clusters: 172
3 digits: 170
Number of clusters: 97
3 digits: 98
Number of clusters: 64
3 digits: 60
Number of clusters: 118
3 digits: 110
Number of clusters: 236
3 digits: 219
Number of clusters: 75
3 digits: 69
Number of clusters: 79
3 digits: 82
Number of clusters: 146
3 digits: 145
Number of clusters: 102
3 digits: 94
Number of clusters: 116
3 digits: 105
Number of clusters: 58
3 digits: 59
Number of clusters: 155
3 digits: 148
Number of clusters: 77
3 digits: 72
Number of clusters: 218
3 digits: 194
Number of clusters: 106
3 digits: 105
Number of clusters: 121
3 digits: 110
Number of clusters: 61
3 digits: 62
Number of clusters: 150
3 digits: 150
Number of clusters: 110
3 digits: 109
Number of clusters: 129
3 digits: 129
Number of clusters: 111
3 digits: 99
Number of clusters: 60
3 digits: 60
Number of clusters: 72
3 digits: 69
Number of clusters: 128
3 digits: 117
Number of clusters: 65
3 digits: 65
Number of clusters: 197
3 digits: 196
Number of clusters: 120
3 digits: 119
Number of clusters: 91
3 digits: 81
Number of clusters: 158
3 digits: 155
Number of clusters: 95
3 digits: 92
Number of clusters: 74
3 digits: 71
Number of clusters: 160
3 digits: 141
Number of clusters: 150
3 digits: 145
Number of clusters: 251
3 digits: 245
Number of clusters: 97
3 digits: 88
Number of clusters: 81
3 digits: 78
Number of clusters: 113
3 digits: 120
Number of clusters: 154
3 digits: 139
Number of clusters: 82
3 digits: 82
Number of clusters: 151
3 digits: 146
Number of clusters: 169
3 digits: 163
Number of clusters: 45
3 digits: 38
Number of clusters: 80
3 digits: 77
Number of clusters: 85
3 digits: 81
Number of clusters: 86
3 digits: 86
Number of clusters: 56
3 digits: 54
Number of clusters: 35
3 digits: 37
Number of clusters: 85
3 digits: 87
Number of clusters: 137
3 digits: 131
Number of clusters: 123
3 digits: 126
Number of clusters: 123
3 digits: 114
Number of clusters: 97
3 digits: 83
Number of clusters: 100
3 digits: 103
Number of clusters: 96
3 digits: 105
Number of clusters: 176
3 digits: 166
Number of clusters: 147
3 digits: 122
Number of clusters: 149
3 digits: 135
Number of clusters: 253
3 digits: 233
Number of clusters: 103
3 digits: 100
Number of clusters: 89
3 digits: 84
Number of clusters: 162
3 digits: 149
Number of clusters: 134
3 digits: 134
Number of clusters: 120
3 digits: 117
Number of clusters: 77
3 digits: 80
Number of clusters: 221
3 digits: 211
Number of clusters: 82
3 digits: 76
Number of clusters: 100
3 digits: 94

Number of clusters: 123
3 digits: 117
Number of clusters: 77
3 digits: 70
Number of clusters: 96
3 digits: 96
Number of clusters: 124
3 digits: 117
Number of clusters: 177
3 digits: 170
Number of clusters: 61
3 digits: 60
Number of clusters: 33
3 digits: 33
Number of clusters: 54
3 digits: 57
Number of clusters: 173
3 digits: 173
Number of clusters: 53
3 digits: 54
Number of clusters: 37
3 digits: 37
Number of clusters: 101
3 digits: 91
Number of clusters: 88
3 digits: 81
Number of clusters: 55
3 digits: 51
Number of clusters: 67
3 digits: 69
Number of clusters: 232
3 digits: 222
Number of clusters: 94
3 digits: 87
Number of clusters: 48
3 digits: 43
Number of clusters: 91
3 digits: 75
Number of clusters: 120
3 digits: 118
Number of clusters: 47
3 digits: 46
Number of clusters: 229
3 digits: 204
Number of clusters: 72
3 digits: 79
Number of clusters: 135
3 digits: 131
Number of clusters: 86
3 digits: 80
Number of clusters: 94
3 digits: 89
Number of clusters: 127
3 digits: 133
Number of clusters: 91
3 digits: 87
Number of clusters: 87
3 digits: 83
Number of clusters: 203
3 digits: 172
Number of clusters: 61
3 digits: 60
Number of clusters: 58
3 digits: 56
Number of clusters: 95
3 digits: 101
Number of clusters: 75
3 digits: 71
Number of clusters: 64
3 digits: 68
Number of clusters: 68
3 digits: 68
Number of clusters: 109
3 digits: 106
Number of clusters: 273
3 digits: 233
Number of clusters: 92
3 digits: 97
Number of clusters: 47
3 digits: 47
Number of clusters: 93
3 digits: 96
Number of clusters: 52
3 digits: 56
Number of clusters: 72
3 digits: 70
Number of clusters: 112
3 digits: 113
Number of clusters: 84
3 digits: 82
Number of clusters: 212
3 digits: 202
Number of clusters: 88
3 digits: 81
Number of clusters: 58
3 digits: 52
Number of clusters: 142
3 digits: 132
Number of clusters: 85
3 digits: 84
Number of clusters: 72
3 digits: 65
Number of clusters: 251
3 digits: 233
Number of clusters: 164
3 digits: 160
Number of clusters: 130
3 digits: 125
Number of clusters: 68
3 digits: 71
Number of clusters: 90
3 digits: 89
Number of clusters: 126
3 digits: 122
Number of clusters: 71
3 digits: 72
Number of clusters: 62
3 digits: 61
Number of clusters: 71
3 digits: 74
Number of clusters: 152
3 digits: 139
Number of clusters: 124
3 digits: 117
Number of clusters: 158
3 digits: 159
Number of clusters: 86
3 digits: 80
Number of clusters: 66
3 digits: 73
Number of clusters: 177
3 digits: 153
Number of clusters: 199
3 digits: 207
Number of clusters: 78
3 digits: 73
Number of clusters: 67
3 digits: 67
Number of clusters: 92
3 digits: 96
Number of clusters: 171
3 digits: 149
Number of clusters: 95
3 digits: 96
Number of clusters: 38
3 digits: 37
Number of clusters: 90
3 digits: 84
Number of clusters: 84
3 digits: 74
Number of clusters: 124
3 digits: 117
Number of clusters: 154
3 digits: 147
Number of clusters: 84
3 digits: 83
Number of clusters: 139
3 digits: 125
Number of clusters: 27
3 digits: 28
Number of clusters: 104
3 digits: 108
Number of clusters: 65
3 digits: 63
Number of clusters: 57
3 digits: 52
Number of clusters: 162
3 digits: 149
Number of clusters: 107
3 digits: 110
Number of clusters: 44
3 digits: 44
Number of clusters: 19
3 digits: 18
Number of clusters: 157
3 digits: 137
Number of clusters: 86
3 digits: 79
Number of clusters: 126
3 digits: 125
Number of clusters: 54
3 digits: 53
Number of clusters: 69
3 digits: 70
Number of clusters: 106
3 digits: 113
Number of clusters: 34
3 digits: 32
Number of clusters: 158
3 digits: 164
Number of clusters: 94
3 digits: 93
Number of clusters: 60
3 digits: 57
Number of clusters: 82
3 digits: 79
Number of clusters: 75
3 digits: 74
Number of clusters: 56
3 digits: 51
Number of clusters: 79
3 digits: 83
Number of clusters: 121
3 digits: 106
Number of clusters: 146
3 digits: 136
Number of clusters: 140
3 digits: 131
Number of clusters: 90
3 digits: 94
Number of clusters: 56
3 digits: 60
Number of clusters: 75
3 digits: 74
Number of clusters: 50
3 digits: 49
Number of clusters: 50
3 digits: 48
Number of clusters: 77
3 digits: 69
Number of clusters: 84
3 digits: 76
Number of clusters: 47
3 digits: 48
Number of clusters: 65
3 digits: 64
Number of clusters: 87
3 digits: 84
Number of clusters: 27
3 digits: 33
Number of clusters: 80
3 digits: 81
Number of clusters: 223
3 digits: 199
Number of clusters: 189
3 digits: 186
Number of clusters: 80
3 digits: 71
Number of clusters: 68
3 digits: 72
Number of clusters: 222
3 digits: 212
Number of clusters: 57
3 digits: 62
Number of clusters: 19
3 digits: 19
Number of clusters: 66
3 digits: 61
Number of clusters: 200
3 digits: 179
Number of clusters: 93
3 digits: 88
Number of clusters: 154
3 digits: 141
Number of clusters: 134
3 digits: 113
Number of clusters: 44
3 digits: 44
Number of clusters: 82
3 digits: 79
Number of clusters: 84
3 digits: 85
Number of clusters: 169
3 digits: 155
Number of clusters: 80
3 digits: 78
Number of clusters: 212
3 digits: 195
Number of clusters: 96
3 digits: 95
Number of clusters: 100
3 digits: 87
Number of clusters: 69
3 digits: 72
Number of clusters: 97
3 digits: 97
Number of clusters: 175
3 digits: 170
Number of clusters: 30
3 digits: 30
Number of clusters: 91
3 digits: 81
Number of clusters: 107
3 digits: 101
Number of clusters: 59
3 digits: 57
Number of clusters: 46
3 digits: 46
Number of clusters: 68
3 digits: 69
Number of clusters: 55
3 digits: 59
Number of clusters: 55
3 digits: 53
Number of clusters: 49
3 digits: 47
Number of clusters: 116
3 digits: 118
Number of clusters: 104
3 digits: 94
Number of clusters: 45
3 digits: 46
Number of clusters: 44
3 digits: 43
Number of clusters: 71
3 digits: 72
Number of clusters: 72
3 digits: 77
Number of clusters: 84
3 digits: 71
Number of clusters: 58
3 digits: 61
Number of clusters: 207
3 digits: 198
Number of clusters: 105
3 digits: 108
Number of clusters: 92
3 digits: 105
Number of clusters: 92
3 digits: 86
Number of clusters: 77
3 digits: 76
Number of clusters: 62
3 digits: 62
Number of clusters: 63
3 digits: 67
Number of clusters: 54
3 digits: 53
Number of clusters: 187
3 digits: 179
Number of clusters: 56
3 digits: 55
Number of clusters: 56
3 digits: 57
Number of clusters: 51
3 digits: 45
Number of clusters: 52
3 digits: 55
Number of clusters: 87
3 digits: 84
Number of clusters: 110
3 digits: 103
Number of clusters: 84
3 digits: 90
Number of clusters: 59
3 digits: 58
Number of clusters: 53
3 digits: 54
Number of clusters: 79
3 digits: 77
Number of clusters: 79
3 digits: 79
Number of clusters: 45
3 digits: 47
Number of clusters: 130
3 digits: 123
Number of clusters: 109
3 digits: 106
Number of clusters: 46
3 digits: 46
Number of clusters: 55
3 digits: 57
Number of clusters: 105
3 digits: 103
Number of clusters: 91
3 digits: 87
Number of clusters: 125
3 digits: 122
Number of clusters: 78
3 digits: 77
Number of clusters: 76
3 digits: 75
Number of clusters: 88
3 digits: 81
Number of clusters: 73
3 digits: 79
Number of clusters: 31
3 digits: 35
Number of clusters: 56
3 digits: 56
Number of clusters: 47
3 digits: 51
Number of clusters: 74
3 digits: 74
Number of clusters: 126
3 digits: 125
Number of clusters: 147
3 digits: 134
Number of clusters: 74
3 digits: 76
Number of clusters: 117
3 digits: 110
Number of clusters: 244
3 digits: 215
Number of clusters: 114
3 digits: 100
Number of clusters: 36
3 digits: 52
Number of clusters: 81
3 digits: 81
Number of clusters: 111
3 digits: 109
Number of clusters: 41
3 digits: 37
Number of clusters: 67
3 digits: 74
Number of clusters: 55
3 digits: 55
Number of clusters: 74
3 digits: 65
Number of clusters: 51
3 digits: 47
Number of clusters: 53
3 digits: 56
Number of clusters: 63
3 digits: 70
Number of clusters: 94
3 digits: 99
Number of clusters: 39
3 digits: 36
Number of clusters: 119
3 digits: 117
Number of clusters: 160
3 digits: 142
Number of clusters: 86
3 digits: 84
Number of clusters: 48
3 digits: 49
Number of clusters: 118
3 digits: 114
Number of clusters: 125
3 digits: 101
Number of clusters: 236
3 digits: 216
Number of clusters: 116
3 digits: 107
Number of clusters: 139
3 digits: 122
Number of clusters: 79
3 digits: 82
Number of clusters: 124
3 digits: 108
Number of clusters: 51
3 digits: 53
Number of clusters: 92
3 digits: 87
Number of clusters: 97
3 digits: 93

Number of clusters: 77
3 digits: 79
Number of clusters: 81
3 digits: 75
Number of clusters: 78
3 digits: 77
Number of clusters: 67
3 digits: 65
Number of clusters: 120
3 digits: 118
Number of clusters: 80
3 digits: 73
Number of clusters: 59
3 digits: 54
Number of clusters: 85
3 digits: 90
Number of clusters: 316
3 digits: 283
Number of clusters: 190
3 digits: 171
Number of clusters: 47
3 digits: 45
Number of clusters: 116
3 digits: 112
Number of clusters: 75
3 digits: 69
Number of clusters: 130
3 digits: 123
Number of clusters: 75
3 digits: 77
Number of clusters: 196
3 digits: 180
Number of clusters: 73
3 digits: 72
Number of clusters: 108
3 digits: 107
Number of clusters: 46
3 digits: 50
Number of clusters: 89
3 digits: 90
Number of clusters: 138
3 digits: 120
Number of clusters: 186
3 digits: 175
Number of clusters: 81
3 digits: 85
Number of clusters: 25
3 digits: 27
Number of clusters: 73
3 digits: 76
Number of clusters: 61
3 digits: 60
Number of clusters: 53
3 digits: 56
Number of clusters: 5
3 digits: 8
Number of clusters: 57
3 digits: 58

#### save  the result and test the score

In [ ]:
test_result_final = test_result[["r_key","lat_center","lon_center"]]

In [ ]:
test_result['distance'] = test_result.apply(lambda x:getDistance(x[3],x[4],x[5],x[6]),axis = 1)
# test_result.head()

In [ ]:
a=test_result.merge(df_data)

In [ ]:
a['distance'] = a.apply(lambda x:getDistance(x[3],x[4],x[5],x[6]),axis = 1)

In [12]:
a['score'] = a.apply(lambda x:get_score(x[-1]),axis = 1)
a.score.mean()

0.4180557

In [ ]:
test_result['score'] = test_result.apply(lambda x:get_score(x[7]),axis = 1)

### Finallt after the test, the best result we get here is  (0.392666  maxd=3),and we ranked 11# in this competation

In [4]:
test_result.score.mean()

0.392666  maxd=3

In [ ]:
#0.392666   maxd=3  
#0.41398   maxd=5
#0.412666   maxd=3  
#0.41398   maxd=5

In [ ]:
# 0.40447  maxd=3 allfea 
# 0.40464834 maxd=4 allfea 
# 0.403428174 eta=0.1 maxd=4 allfea  #'min_child_weight': 0.6 0.4031971673  #'min_child_weight': 0.8 0.4029715 #'scale_pos_weight': 3
# 0.4038698985  eta=0.1 maxd=3 allfea 
# basefea maxd=4 0.4062949

#### Citations
*  https://github.com/carlosbkm/car-destination-prediction 
*  http://www.cs.cmu.edu/~coral/old/publinks/brettb/06itsc-driver-intent.pdf
*  https://www.nbcnews.com/mach/science/elon-musk-says-tesla-s-ai-will-let-cars-predict- ncna813211 
*  https://machinelearningmastery.com/feature-importance-and-feature-selection-with-xgboost-in-python/
*  https://www.fastcompany.com/3035350/uber-can-now-predict-where-youre-going-before-you-get-in-the-car 
*  https://pdfs.semanticscholar.org/fd0f/98aa362d6b86f02a28c571e5c40d8d8ff65d.pdf  
*  http://people.cs.aau.dk/~csj/Papers/Files/2006_brilingaiteITSS.pdf 
*  https://www.hindawi.com/journals/mpe/2015/824532/